Repository GrayGhostDev/ToolboxAI-Solutions: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, validate-env-vars, npm-audit, pip-audit, gdpr-compliance, security-headers

Path conditions:
  check-secrets-python: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-sql-injection: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-insecure-random: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-pii-exposure: any of: \.(py|js|ts|jsx|tsx)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  validate-env-vars: any of: \.env.*, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  npm-audit: any of: apps/dashboard/package\.json$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  pip-audit: any of: requirements.*\.txt$|Pipfile$|pyproject\.toml$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  gdpr-compliance: any of: \.(py|js|ts)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  security-headers: any of: (middleware|config).*\.(py|js|ts)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/


fix(build): handle asyncpg and pyarrow with binary wheels
  render-build.sh
  requirements.txt
Due: pip-audit

fix(backend): resolve logger NameError in anomaly_detection.py
  apps/backend/core/observability/anomaly_detection.py
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance

feat(teamcity): add BackendDeploy build configuration for Render deployment
  .teamcity/settings.kts
  scripts/deployment/verify_backend_deployment.sh
  scripts/teamcity/automated_import_api.sh
Due: none

fix(deploy): resolve critical Render.com deployment dependencies
  core/agents/nlu/conversation_manager.py
  infrastructure/render/render.production.yaml
  requirements.txt
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, pip-audit, gdpr-compliance

feat(copilot): add specialized GitHub Copilot agents and comprehensive triggers
  .github/agents/README.md
  .github/agents/ai-agent-specialist.agent.md
  .github/agents/backend-specialist.agent.md
  .github/agents/devops-specialist.agent.md
  .github/agents/documentation-specialist.agent.md
  .github/agents/frontend-specialist.agent.md
  .github/instructions.md
  CLAUDE.md
Due: none

fix(deploy): resolve protobuf compatibility with env variable
  infrastructure/render/render.production.yaml
  requirements.txt
Due: pip-audit

feat(workflows): add automated GitHub Copilot agent trigger workflows
  .github/workflows/auto-label.yml
  .github/workflows/auto-resolve-issues.yml
  .github/workflows/copilot-agent-triggers.yml
  .github/workflows/pr-auto-review.yml
Due: none

fix(render): force Python 3.12.7 for asyncpg compatibility
  .python-version
  infrastructure/render/render.production.yaml
  render-build.sh
Due: none

docs: enhance Copilot and Claude configuration with application-specific details
  .github/instructions.md
  CLAUDE.md
Due: none

fix(docker): set protobuf Python implementation in Dockerfile ENV
  apps/backend/Dockerfile
Due: none

feat: add automated agent triage workflow for issues, PRs, security, and actions
  .github/workflows/agent-auto-triage.yml
Due: none

fix: correct CodeRabbit auto_review configuration format
  .coderabbit.yml
Due: none

feat: upgrade CodeRabbit to Claude Sonnet 4.5
  .coderabbit.yml
Due: none

fix(docker): implement dynamic PORT binding for Render.com deployment
  apps/backend/Dockerfile
  infrastructure/docker/compose/docker-compose.yml
Due: none

fix(telemetry): implement lazy loading for GRPC exporters to prevent import-time crashes
  apps/backend/core/app_factory.py
  apps/backend/core/observability/telemetry.py
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance

fix(deps): pin OpenAI SDK to <2.0.0 for LangChain 1.0.x compatibility
  requirements.txt
Due: pip-audit

fix(deps): resolve googleapis-common-protos version conflict with OpenTelemetry
  requirements.txt
Due: pip-audit

chore(quality): add pre-commit configuration and completion report
  .pre-commit-config.yaml
  QODANA_COMPLETION_REPORT.md
Due: none

docs(quality): add comprehensive validation report for Qodana fixes
  VALIDATION_REPORT.md
Due: none

fix(backend): resolve Render deployment failures and LangChain compatibility
  apps/backend/agents/agent.py
  apps/backend/core/metrics/metrics.py
  qodana.yaml
  requirements.txt
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, pip-audit, gdpr-compliance

fix(deps): correct OpenAI SDK version constraint for langchain-openai compatibility
  requirements.txt
Due: pip-audit

fix(backend): resolve Render deployment critical errors - circular imports and missing models
  .github/codeql/codeql-config.yml
  .github/workflows/reusable/docker-build.yml
  .github/workflows/security.yml
Due: none

fix(deps): correct OpenAI version constraint for langchain-openai 1.0.2
  requirements.txt
Due: pip-audit

feat(auth): add missing /register endpoint for user registration
  apps/backend/api/v1/endpoints/auth.py
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance

fix(deploy): add pnpm setup step to deployment workflow
  .github/workflows/deploy.yml
Due: none

fix(backend): resolve critical TypeError blocking deployment
  apps/backend/core/prompts/workflow_orchestrator.py
  apps/backend/services/__init__.py
  apps/backend/services/email/factory.py
  apps/backend/services/roblox/ai_agent.py
  check_sentry_issues.py
  database/core/connection.py
  database/models/__init__.py
  database/models/models.py
  docs/08-operations/development/INTELLIJ-SETUP-GUIDE.md
  docs/11-reports/POST_DEPLOYMENT_IMPLEMENTATION_PLAN.md
  find_type_error.py
  infrastructure/docker/compose/.env.teamcity.example
  infrastructure/docker/compose/TEAMCITY_README.md
  infrastructure/docker/compose/docker-compose.teamcity.yml
  infrastructure/docker/dockerfiles/CURRENT_DOCKERFILES.md
  infrastructure/docker/dockerfiles/teamcity-agent-backend.Dockerfile
  infrastructure/docker/dockerfiles/teamcity-agent-frontend.Dockerfile
  infrastructure/docker/dockerfiles/teamcity-agent-integration.Dockerfile
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, validate-env-vars, gdpr-compliance

fix(config): resolve CodeRabbit configuration errors and create missing labels
  .coderabbit.yml
Due: none

fix(security): resolve 6 critical vulnerabilities and complete Sentry integration
  apps/backend/api/health/__init__.py
  apps/backend/config/sentry.py
  apps/backend/core/cache.py
  apps/backend/core/observability/anomaly_detection.py
  apps/backend/core/observability/telemetry.py
  apps/backend/core/prompts/workflow_orchestrator.py
  apps/backend/services/email/__init__.py
  apps/dashboard/package.json
  check_sentry_issues.py
  config/environment.py
  core/agents/database_integration.py
  core/agents/quiz_agent.py
  core/coordinators/error_coordinator.py
  database/setup/create_comprehensive_data.py
  database/setup/create_initial_data.py
  database/setup/deploy_schemas.py
  database/setup/migrate.py
  docs/11-reports/SENTRY_FIXES_REPORT_2025-11-13.md
  find_type_error.py
  requirements.txt
  tests/backend/test_database_pool_2025.py
  tests/conftest.py
  tests/integration/database/test_integration_integration_database.py
  tests/integration/test_advanced_supervisor.py
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, npm-audit, pip-audit, gdpr-compliance, security-headers

refactor(backend): improve email service lazy initialization
  apps/backend/services/email/__init__.py
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance

fix(teamcity): configure Dashboard Build to run on Frontend agent
  .teamcity/settings.kts
Due: none

fix(ci): resolve pnpm version mismatch in GitHub Actions
  .github/workflows/auto-resolve-issues.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-auto-review.yml
  .github/workflows/security.yml
Due: none

fix(ci): correct pnpm workspace command syntax in CI/CD pipelines
  .github/workflows/e2e-tests.yml
  .github/workflows/main-ci-cd.yml
Due: none

fix(database): correct ConnectionManager import from connection_manager
  apps/backend/api/v1/endpoints/content_versions.py
  apps/backend/api/v1/endpoints/storage.py
  apps/backend/api/v1/endpoints/user_preferences.py
  database/core/connection.py
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance

fix(ci): add missing flake8 and pylint to requirements-dev.txt
  requirements-dev.txt
Due: pip-audit

fix(agents): resolve LangChain httpx client incompatibility with OpenAI SDK
  .flake8
  .github/workflows/main-ci-cd.yml
  apps/backend/agents/agent_classes.py
  apps/backend/agents/implementations.py
  apps/backend/api/auth/clerk_auth.py
  apps/backend/api/auth/db_auth.py
  apps/backend/api/health/load_balancing_health.py
  apps/backend/api/routers/health.py
  apps/backend/api/v1/endpoints/ai_chat.py
  apps/backend/api/v1/endpoints/assessments.py
  apps/backend/api/v1/endpoints/lessons.py
  apps/backend/api/v1/endpoints/messages.py
  apps/backend/api/v1/endpoints/pusher_auth.py
  apps/backend/api/v1/endpoints/reports.py
  apps/backend/api/v1/endpoints/roblox.py
  apps/backend/api/v1/endpoints/roblox_integration_enhanced.py
  apps/backend/core/observability/instrumentation.py
  apps/backend/core/performance.py
  apps/backend/services/database.py
  apps/backend/services/design_file_converter.py
  apps/backend/services/email/sendgrid.py
  apps/backend/services/enhanced_design_parser.py
  apps/backend/services/invoice_generator.py
  apps/backend/services/roblox/ai_agent.py
  apps/backend/services/roblox/auth.py
  apps/backend/utils/tools.py
  apps/dashboard/package.json
  core/agents/base_agent.py
  docs/11-reports/DEPLOYMENT_SUCCESS_2025-11-13.md
  fix_flake8_issues.py
  fix_simple_issues.py
  package.json
  pnpm-lock.yaml
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, npm-audit, gdpr-compliance

fix: resolve flake8 linting errors and add configuration
  FLAKE8_FIXES_SUMMARY.md
Due: none

fix(agents): complete typing modernization for Python 3.12
  core/agents/base_agent.py
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance

docs: Add flake8 linting issues summary report
  docs/11-reports/FLAKE8_ISSUES_SUMMARY_2025-11-14.md
Due: none
