Repository GrayGhostDev/ToolboxAI-Solutions: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, validate-env-vars, npm-audit, pip-audit, gdpr-compliance, security-headers

check-secrets-python:
  name: Check for hardcoded secrets in Python
  entry: python scripts/security/check_secrets.py
  language: python
  pass_filenames: true
  require_serial: false
  additional_dependencies:
  - pyyaml>=6.0

check-sql-injection:
  name: Check for SQL injection vulnerabilities
  entry: python scripts/security/check_sql_injection.py
  language: python
  pass_filenames: true
  require_serial: false

check-insecure-random:
  name: Check for insecure random number generation
  entry: python scripts/security/check_insecure_random.py
  language: python
  pass_filenames: true
  require_serial: false

check-pii-exposure:
  name: Check for PII data exposure
  entry: python scripts/security/check_pii.py
  language: python
  pass_filenames: true
  require_serial: false

validate-env-vars:
  name: Validate environment variables
  entry: python scripts/security/validate_env.py
  language: python
  pass_filenames: false
  require_serial: true

npm-audit:
  name: Check for vulnerable npm packages
  entry: bash -c 'if [ -f apps/dashboard/package.json ]; then cd apps/dashboard && npm audit --audit-level=moderate; fi'
  language: system
  pass_filenames: false
  require_serial: true

pip-audit:
  name: Check Python dependencies for vulnerabilities
  entry: bash -c 'pip-audit --desc --fix --require-hashes || true'
  language: system
  pass_filenames: false
  require_serial: true

gdpr-compliance:
  name: Check GDPR compliance in code
  entry: python scripts/security/check_gdpr.py
  language: python
  pass_filenames: true
  require_serial: false

security-headers:
  name: Verify security headers configuration
  entry: python scripts/security/check_headers.py
  language: python
  pass_filenames: true
  require_serial: false

docs: add comprehensive project cleanup completion report
  docs/11-reports/PROJECT_CLEANUP_COMPLETION_2025-11-09.md
Due: none

chore: consolidate requirements and update CLAUDE.md guide
  CLAUDE.md
  requirements-essential.txt
  requirements-missing.txt
  requirements-rotator.txt
  requirements.txt
Due: pip-audit

docs: add infrastructure cleanup documentation
  CLAUDE.md
  infrastructure/docker/dockerfiles/CURRENT_DOCKERFILES.md
Due: none

feat(infra): complete Phase 1 application architecture improvements
  apps/backend/core/app_factory.py
  docs/05-implementation/README.md
  docs/05-implementation/docker-mcp-gateway-integration-2025.md
  docs/06-features/migrations/complete-migration-documentation-2025.md
  docs/07-user-guides/worktree-guide.md
  docs/08-operations/deployment/IMPLEMENTATION_STATUS_2025.md
  docs/08-operations/deployment/complete-docker-setup-2025.md
  docs/08-operations/deployment/docker-hub-mcp-integration-2025.md
  docs/08-operations/deployment/docker-service-integration-complete-2025.md
  docs/11-reports/COMPLETE_PROJECT_IMPLEMENTATION_PLAN_2025-11-10.md
  docs/11-reports/DATABASE_MIGRATION_GUIDE.md
  docs/11-reports/DOCKER_MCP_IMPLEMENTATION_STATUS_2025.md
  docs/11-reports/DOCUMENTATION_UPDATE_SUMMARY_2025-09-28.md
  docs/11-reports/IMPLEMENTATION_CHECKLIST.md
  docs/11-reports/INDEX.md
  docs/11-reports/dashboard/MODERNIZATION_COMPLETE.md
  docs/IMPLEMENTATION_SUMMARY_2025.md
  docs/README.md
  docs/README_UPDATE_2025.md
  docs/guides/DOCKER_MCP_DEPLOYMENT_GUIDE_2025.md
  docs/guides/README.md
  infrastructure/docker/compose/docker-compose.yml
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance

refactor(backend): Phase 2 - migrate routers to unified API structure
  .env.example
  apps/backend/api/routers.py
  apps/backend/api/routers/__init__.py
  apps/backend/api/routers/courses.py
  apps/backend/api/routers/error_handling.py
  apps/backend/api/routers/roblox.py
  apps/backend/api/routers/v1/__init__.py
  apps/backend/api/routers/v1/coordinators.py
  apps/backend/routers/__init__.py
  docs/06-features/PUSHER_INTEGRATION.md
  infrastructure/docker/compose/docker-compose.dev.yml
  infrastructure/docker/compose/docker-compose.prod.yml
  infrastructure/docker/config/nginx/sites-enabled/default.conf
  infrastructure/docker/config/nginx/ssl/generate-certs.sh
  infrastructure/docker/config/nginx/ssl/ssl.conf
  roblox/Config/default.project.json
  roblox/Config/plugin.project.json
  roblox/README.md
  roblox/src/Main.server.lua
  roblox/src/server/SecureConfigurationManager.lua
  tests/test_roblox_integration.py
  tests/unit/routers/test_coordinators.py
  tests/unit/routers/test_courses.py
  tests/unit/routers/test_error_handling_api.py
  tests/unit/routers/test_roblox.py
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, validate-env-vars, gdpr-compliance

security: fix code scanning vulnerabilities
  Archive/2025-09-26/core-supervisors/supervisor_advanced.py
  apps/backend/api/auth/auth_secure.py
  core/agents/roblox/roblox_script_optimization_agent.py
  core/agents/roblox/roblox_security_validation_agent.py
  infrastructure/docker/compose/docker-compose.dev.yml
  infrastructure/docker/compose/docker-compose.monitoring.yml
  infrastructure/docker/config/grafana/provisioning/dashboards/dashboards.yml
  requirements.txt
  roblox/Config/settings.lua
  roblox/README.md
  roblox/src/Main.server.lua
  roblox/src/server/ApiClient.lua
  roblox/src/server/DataStore.lua
  roblox/src/server/api/dashboardApi.lua
  roblox/src/server/api/ghostApi.lua
  roblox/src/shared/HTTPClient.lua
  roblox/src/shared/QuizSystem.lua
  roblox/src/shared/SecurityValidator.lua
  roblox/tests/ApiClientSmoke.lua
  roblox/tests/SettingsSmoke.lua
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, pip-audit, gdpr-compliance

security: configure CodeQL and Trivy scanners with comprehensive documentation
  .github/codeql/codeql-config.yml
  .github/trivy.yaml
  .github/workflows/security.yml
  .trivyignore
  apps/backend/services/roblox/__init__.py
  apps/backend/services/roblox/ai_agent.py
  apps/backend/services/roblox/auth.py
  apps/backend/services/roblox/bridge.py
  apps/backend/services/roblox/content_bridge.py
  apps/backend/services/roblox/deployment.py
  apps/backend/services/roblox/open_cloud.py
  apps/backend/services/roblox/pusher.py
  apps/backend/services/roblox/rojo_api.py
  apps/backend/services/roblox/rojo_manager.py
  apps/backend/services/roblox/service.py
  docs/10-security/SECURITY_RECOMMENDATIONS.md
  docs/10-security/SECURITY_SCANNERS.md
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance

fix(security): correct CodeQL configuration and workflow
  .github/codeql/codeql-config.yml
  .github/workflows/security.yml
  infrastructure/docker/config/grafana/provisioning/dashboards/dashboards.yml
  infrastructure/docker/config/grafana/provisioning/datasources/prometheus.yml
  infrastructure/grafana/dashboards/fastapi-dashboard.json
  infrastructure/grafana/dashboards/jaeger-traces-dashboard.json
  infrastructure/grafana/dashboards/loki-logs-dashboard.json
  infrastructure/monitoring/grafana/dashboards/docker-dashboard.json
  infrastructure/monitoring/grafana/dashboards/load-balancing-dashboard.json
  infrastructure/monitoring/grafana/dashboards/security-dashboard.json
  infrastructure/monitoring/grafana/dashboards/toolboxai-dashboard.json
  infrastructure/monitoring/grafana/dashboards/toolboxai-unified-dashboard.json
  infrastructure/monitoring/grafana/provisioning/dashboards/dashboard.yml
  infrastructure/monitoring/grafana/provisioning/datasources/datasources.yml
Due: none

docs(security): add alert status explanation and helper scripts
  apps/backend/api/routers/roblox.py
  apps/backend/api/v1/endpoints/roblox_ai.py
  apps/backend/api/v1/endpoints/roblox_environment.py
  apps/backend/api/v1/endpoints/roblox_integration.py
  apps/backend/api/v1/roblox_environments.py
  apps/backend/core/prompts/enhanced_conversation_flow.py
  apps/backend/services/pusher_handler.py
  apps/backend/tasks/roblox_tasks.py
  apps/backend/workers/tasks/content_tasks.py
  apps/backend/workers/tasks/roblox_tasks.py
  docs/10-security/ALERT_STATUS_EXPLANATION.md
  tests/e2e/test_roblox_integration_e2e.py
  tests/e2e/test_roblox_integration_flow.py
  tests/unit/backend/services/test_week2_services.py
  tests/week2/test_isolated.py
  tests/week2/test_simple.py
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance

docs(roblox): update integration guide with new package structure
  docs/integration/ROBLOX_INTEGRATION_GUIDE.md
Due: none

feat(security): implement GitHub Copilot Autofix for code scanning
  .github/copilot-autofix.yml
  apps/dashboard/index.html
  apps/dashboard/public/manifest.json
  apps/dashboard/vercel.json
  docs/10-security/COPILOT_AUTOFIX_IMPLEMENTATION.md
  docs/10-security/COPILOT_AUTOFIX_QUICKSTART.md
Due: none

fix(mcp): correct Docker MCP package name and container references
  .mcp.json
Due: none

docs(render): add deployment fix guide for uvicorn worker-class error
  RENDER_FIX.md
Due: none

docs(phase3): add integration testing documentation and reports
  docs/08-operations/ci-cd/TEAMCITY_GITHUB_SETUP_CHECKLIST.md
  docs/08-operations/ci-cd/TEAMCITY_QUICKSTART.md
  docs/11-reports/TEAMCITY_GITHUB_INTEGRATION_IMPLEMENTATION_COMPLETE.md
  docs/11-reports/backend-restoration-guide-2025-11-10.md
  docs/11-reports/cors-configuration-guide-2025-11-10.md
  docs/11-reports/environment-configuration-guide-2025-11-10.md
  docs/11-reports/environment-variable-audit-2025-11-10.md
  docs/11-reports/git-commit-recommendations-2025-11-10.md
  docs/11-reports/teamcity-security-fixes-2025-11-10.md
Due: none

chore(infra): update infrastructure configuration across all services
  .github/workflows/deploy.yml
  .github/workflows/infrastructure.yml
  infrastructure/config/prometheus/prometheus.yml
  infrastructure/docker/compose/.env.example
  infrastructure/docker/compose/docker-compose.dev.yml
  infrastructure/docker/compose/docker-compose.monitoring.yml
  infrastructure/render/render.production.yaml
  infrastructure/render/render.staging.yaml
  infrastructure/teamcity/trigger-cloud-build.sh
  vercel.json
Due: validate-env-vars

fix(backend): add sys.path bootstrap in apps/backend/main.py to ensure 'apps' package is importable when start command runs from apps/backend
  apps/backend/main.py
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance

fix(celery): bootstrap sys.path in apps/backend/celery_app.py to ensure repo root on import path when started from apps/backend
  apps/backend/celery_app.py
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance

feat(teamcity): add authentication and API key parameters to Kotlin DSL
  .teamcity/settings.kts
Due: none

fix(render): resolve backend deployment failure - WebSocket import and health checks
  core/coordinators/sync_coordinator.py
  infrastructure/render/render.production.yaml
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance

security: fix 30 critical vulnerabilities - log injection and stack trace exposure
  .gitignore
  apps/backend/api/routers/roblox.py
  apps/backend/core/config.py
  apps/backend/core/security/input_sanitizer.py
  apps/backend/services/roblox/bridge.py
  docs/10-security/SECURITY_FIXES_2025-11-11.md
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance, security-headers

fix(monitoring): add missing timezone import for Sentry initialization
  apps/backend/core/monitoring.py
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance

feat(ci): add comprehensive TeamCity parameter configuration
  .teamcity/settings.kts
Due: none

fix: correct requirements-dev.txt syntax error
  requirements-dev.txt
Due: pip-audit

docs: PR review and resolution summary
  docs/11-reports/PR_REVIEW_2025-11-11.md
Due: none

fix(dashboard): resolve React hooks error and update lockfile
  apps/dashboard/package.json
  apps/dashboard/vite.config.js
  pnpm-lock.yaml
Due: check-pii-exposure, npm-audit, gdpr-compliance, security-headers

fix(dashboard): improve framer-motion bundle chunking with path separators
  apps/dashboard/vite.config.js
Due: check-pii-exposure, gdpr-compliance, security-headers

fix(backend): remove scipy dependency to fix Render deployment
  requirements.txt
Due: pip-audit

fix(render): force binary wheels to prevent scipy build failures
  requirements.txt
Due: pip-audit

fix(render): apply binary wheel fix to production yaml
  infrastructure/render/render.production.yaml
Due: none

fix(render): target specific packages for binary wheels only
  infrastructure/render/render.production.yaml
Due: none

fix(render): add asyncpg and pyarrow to binary-only package list
  infrastructure/render/render.production.yaml
Due: none

fix(render): use Python 3.12.7 for better binary wheel support
  infrastructure/render/render.production.yaml
Due: none

fix(render): use --prefer-binary for flexible dependency installation
  infrastructure/render/render.production.yaml
Due: none

fix(render): install gfortran and BLAS libraries for scipy compilation
  infrastructure/render/render.production.yaml
Due: none

feat: implement Pusher + Redis MCP hybrid & fix scipy build
  apps/backend/api/v1/endpoints/mcp_context.py
  apps/backend/api/v1/router.py
  render-build.sh
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance

fix(teamcity): correct pom.xml location - move from nested .teamcity/.teamcity/ to .teamcity/
  .teamcity/pom.xml
Due: none

fix(deps): remove scipy/sklearn from requirements.txt & add flower
  requirements.txt
Due: pip-audit

Path conditions:
  check-secrets-python: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-sql-injection: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-insecure-random: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-pii-exposure: any of: \.(py|js|ts|jsx|tsx)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  validate-env-vars: any of: \.env.*, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  npm-audit: any of: apps/dashboard/package\.json$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  pip-audit: any of: requirements.*\.txt$|Pipfile$|pyproject\.toml$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  gdpr-compliance: any of: \.(py|js|ts)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  security-headers: any of: (middleware|config).*\.(py|js|ts)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

