Repository GrayGhostDev/ToolboxAI-Solutions: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, validate-env-vars, npm-audit, pip-audit, gdpr-compliance, security-headers

check-secrets-python:
  name: Check for hardcoded secrets in Python
  entry: python scripts/security/check_secrets.py
  language: python
  pass_filenames: true
  require_serial: false
  additional_dependencies:
  - pyyaml>=6.0

check-sql-injection:
  name: Check for SQL injection vulnerabilities
  entry: python scripts/security/check_sql_injection.py
  language: python
  pass_filenames: true
  require_serial: false

check-insecure-random:
  name: Check for insecure random number generation
  entry: python scripts/security/check_insecure_random.py
  language: python
  pass_filenames: true
  require_serial: false

check-pii-exposure:
  name: Check for PII data exposure
  entry: python scripts/security/check_pii.py
  language: python
  pass_filenames: true
  require_serial: false

validate-env-vars:
  name: Validate environment variables
  entry: python scripts/security/validate_env.py
  language: python
  pass_filenames: false
  require_serial: true

npm-audit:
  name: Check for vulnerable npm packages
  entry: bash -c 'if [ -f apps/dashboard/package.json ]; then cd apps/dashboard && npm audit --audit-level=moderate; fi'
  language: system
  pass_filenames: false
  require_serial: true

pip-audit:
  name: Check Python dependencies for vulnerabilities
  entry: bash -c 'pip-audit --desc --fix --require-hashes || true'
  language: system
  pass_filenames: false
  require_serial: true

gdpr-compliance:
  name: Check GDPR compliance in code
  entry: python scripts/security/check_gdpr.py
  language: python
  pass_filenames: true
  require_serial: false

security-headers:
  name: Verify security headers configuration
  entry: python scripts/security/check_headers.py
  language: python
  pass_filenames: true
  require_serial: false

fix: Force correct module loading order with Vite plugin
  apps/dashboard/vite.config.js
Due: check-pii-exposure, gdpr-compliance, security-headers

fix: Separate @react-three/fiber from Three.js core to fix useLayoutEffect error
  apps/dashboard/vite.config.js
Due: check-pii-exposure, gdpr-compliance, security-headers

fix: Add React-Redux and React-Router to vendor-react to fix useSyncExternalStore error
  apps/dashboard/vite.config.js
Due: check-pii-exposure, gdpr-compliance, security-headers

fix: Bundle framer-motion with vendor-mantine to fix useLayoutEffect error
  apps/dashboard/vite.config.js
Due: check-pii-exposure, gdpr-compliance, security-headers

feat: Standardize API environment variables and improve login security
  apps/dashboard/.env.example
  apps/dashboard/src/components/pages/LoginMantine.tsx
  apps/dashboard/src/components/roblox/RobloxAIAssistant.tsx
  apps/dashboard/src/config/api.ts
  apps/dashboard/src/config/index.ts
  apps/dashboard/src/hooks/useAgentAPI.ts
  apps/dashboard/src/services/api-retry.ts
  apps/dashboard/src/services/roblox-api.ts
  apps/dashboard/src/test/setup.ts
  apps/dashboard/src/types/global.d.ts
  apps/dashboard/src/utils/axios-config.ts
  apps/dashboard/src/utils/configHealthCheck.ts
  apps/dashboard/src/utils/environment.ts
  apps/dashboard/src/vite-env.d.ts
  apps/dashboard/vite.config.js
Due: check-pii-exposure, validate-env-vars, gdpr-compliance, security-headers

feat(dashboard): Add backend health monitoring and CORS documentation
  apps/backend/docs/CORS_CONFIGURATION.md
  apps/dashboard/src/App.tsx
  apps/dashboard/src/components/HealthStatusBanner.tsx
  apps/dashboard/src/hooks/useBackendHealth.ts
Due: check-pii-exposure, gdpr-compliance

fix(dashboard): Upgrade Sentry to v10 for React 19 compatibility
  apps/dashboard/package.json
  apps/dashboard/src/config/sentry.ts
  apps/dashboard/src/main.tsx
  package-lock.json
Due: check-pii-exposure, npm-audit, gdpr-compliance, security-headers

fix: Remove duplicate httpx version from requirements.txt
  requirements.txt
Due: pip-audit

fix: Remove duplicate psutil version from requirements.txt
  requirements.txt
Due: pip-audit

fix: Remove duplicate opentelemetry package versions
  requirements.txt
Due: pip-audit

fix: Remove conflicting routes property from vercel.json
  vercel.json
Due: none

fix: Remove all duplicate package versions from requirements.txt
  requirements.txt
Due: pip-audit

fix: Remove build env secret references from vercel.json
  vercel.json
Due: none

chore: Update render.yaml to use Starter plans for cost optimization
  infrastructure/render/render.production.yaml
Due: none

fix: Correct Celery module paths in render.yaml
  infrastructure/nginx/ssl.conf
  infrastructure/render/render.production.yaml
  infrastructure/vault/policies/backend-policy.hcl
  infrastructure/vault/policies/frontend-policy.hcl
Due: none

fix: Remove trailing ampersand from monitoring service startCommand
  infrastructure/config/postgres/pg_hba.conf
  infrastructure/config/postgres/postgresql.conf
  infrastructure/config/redis/redis.conf
  infrastructure/config/redis/users.acl
  infrastructure/docker/compose/docker-compose.secure.yml
  infrastructure/render/render.production.yaml
  infrastructure/vault/policies/admin-policy.hcl
Due: none

fix: Properly quote Content-Security-Policy header values in render.yaml
  infrastructure/docker/dockerfiles/vault-rotator.Dockerfile
  infrastructure/docs/NETWORK_SECURITY.md
  infrastructure/docs/TLS_SETUP.md
  infrastructure/render/render.production.yaml
  requirements-rotator.txt
Due: pip-audit

fix: Remove duplicate ENVIRONMENT key and simplify dashboard build
  infrastructure/docs/SECURITY_CHECKLIST.md
  infrastructure/render/render.production.yaml
Due: none

fix: Resolve all Render Blueprint validation errors
  infrastructure/render/render.production.yaml
Due: none

feat: Configure Render Blueprint for Supabase database
  PRODUCTION_READINESS_PROGRESS.md
  infrastructure/render/render.production.yaml
Due: none

fix: Correct disk field type to string format
  infrastructure/render/render.production.yaml
Due: none

fix: Remove disk fields for stateless architecture
  MONITORING_DEPLOYMENT_GUIDE.md
  QUICK_DEPLOY_MONITORING.md
  infrastructure/config/alertmanager/alertmanager.yml
  infrastructure/config/blackbox/blackbox.yml
  infrastructure/config/grafana/provisioning/dashboards.yml
  infrastructure/config/grafana/provisioning/datasources.yml
  infrastructure/config/loki/loki.yml
  infrastructure/config/prometheus/prometheus.yml
  infrastructure/config/prometheus/rules/alerts.yml
  infrastructure/config/promtail/promtail.yml
  infrastructure/render/render.production.yaml
Due: none

fix: Change cron job command field to startCommand
  MONITORING_ALL_FIXES_COMPLETE.md
  MONITORING_FIX_APPLIED.md
  MONITORING_QUICK_FIX.md
  infrastructure/render/render.production.yaml
Due: none

feat: Add Supabase local development configuration
  .env.supabase.local.example
  docs/SUPABASE_LOCAL_SETUP.md
  infrastructure/render/render.production.yaml
Due: validate-env-vars

fix: Remove disk fields for stateless architecture
  SLACK_ALERTMANAGER_SETUP.md
  SLACK_INTEGRATION_COMPLETE.md
  SLACK_INTEGRATION_QUICK_REF.md
  infrastructure/config/alertmanager/alertmanager-slack.yml
  infrastructure/config/slack/slack-app-manifest.json
  infrastructure/config/slack/slack-app-manifest.yaml
  infrastructure/render/render.production.yaml
Due: none

fix: Remove plan field from static site service
  infrastructure/config/alertmanager/config.yml.tpl
  infrastructure/config/alertmanager/generate_config.py
  infrastructure/render/render.production.yaml
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance, security-headers

fix(database): optimize Supabase RLS policies to resolve performance warnings
  .gitignore
  infrastructure/config/alertmanager/alertmanager-full.tpl
  infrastructure/config/alertmanager/alertmanager-slack-only.yml
  infrastructure/config/prometheus/rules/test_alerts.yml
  infrastructure/monitoring/README.md
  supabase/supabase/.gitignore
  supabase/supabase/migrations/20251107185745_fix_rls_performance.sql
  supabase/supabase/migrations/20251107191034_fix_courses_multiple_policies.sql
Due: none

fix: Update Render blueprint with Supabase S3, Clerk auth, and SSL configuration
  .gitignore
  docs/08-operations/deployment/RENDER_DEPLOYMENT_INSTRUCTIONS.md
  docs/SUPABASE_SSL_CONFIGURATION.md
Due: none

fix(build): resolve Render deployment build failures
  package-lock.json
  package.json
  requirements.txt
Due: pip-audit

fix(deps): upgrade Werkzeug to 3.1.2 for Flask 3.1.2 compatibility
  requirements.txt
Due: pip-audit

fix(deps): upgrade pytz to 2025.2 for mkdocs plugin compatibility
  requirements.txt
Due: pip-audit

fix(deploy): remove dashboard from Render blueprint (hosted on Vercel)
  docs/RENDER_ENVIRONMENT_SETUP.md
  infrastructure/render/render.production.yaml
Due: none

fix(deps): downgrade importlib_metadata to 8.4.0 for opentelemetry compatibility
  apps/backend/middleware/role_based_access.py
  apps/dashboard/src/services/roleAnalytics.ts
  docs/CODE_FIXES_SUMMARY.md
  docs/GITHUB_ISSUES_RESOLUTION.md
  docs/NEXT_STEPS_COMPLETION.md
  docs/REPOSITORY_HEALTH_REPORT.md
  requirements.txt
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, pip-audit, gdpr-compliance, security-headers

fix: Update GitHub Actions workflows for improved reliability
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/ci.yml
  .github/workflows/comprehensive-testing.yml
  .github/workflows/continuous-testing.yml
  .github/workflows/enhanced-ci-cd.yml
  .github/workflows/integrated_pipeline.yml
  .github/workflows/testing.yml
  docs/BUILD_FIX_REFRACTOR.md
Due: none

fix: Disable deployment jobs requiring AWS credentials in ci-cd-pipeline
  .github/workflows/ci-cd-pipeline.yml
Due: none

feat: Update CI/CD pipeline for Supabase/Render/Vercel stack
  .github/workflows/ci-cd-pipeline.yml
  apps/backend/Dockerfile
Due: none

docs: Add comprehensive GitHub Actions fixes documentation
  docs/08-operations/ci-cd/GITHUB_ACTIONS_FIXES.md
Due: none

Path conditions:
  check-secrets-python: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-sql-injection: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-insecure-random: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-pii-exposure: any of: \.(py|js|ts|jsx|tsx)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  validate-env-vars: any of: \.env.*, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  npm-audit: any of: apps/dashboard/package\.json$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  pip-audit: any of: requirements.*\.txt$|Pipfile$|pyproject\.toml$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  gdpr-compliance: any of: \.(py|js|ts)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  security-headers: any of: (middleware|config).*\.(py|js|ts)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

