Repository GrayGhostDev/ToolboxAI-Solutions: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, validate-env-vars, npm-audit, pip-audit, gdpr-compliance, security-headers

check-secrets-python:
  name: Check for hardcoded secrets in Python
  entry: python scripts/security/check_secrets.py
  language: python
  pass_filenames: true
  require_serial: false
  additional_dependencies:
  - pyyaml>=6.0

check-sql-injection:
  name: Check for SQL injection vulnerabilities
  entry: python scripts/security/check_sql_injection.py
  language: python
  pass_filenames: true
  require_serial: false

check-insecure-random:
  name: Check for insecure random number generation
  entry: python scripts/security/check_insecure_random.py
  language: python
  pass_filenames: true
  require_serial: false

check-pii-exposure:
  name: Check for PII data exposure
  entry: python scripts/security/check_pii.py
  language: python
  pass_filenames: true
  require_serial: false

validate-env-vars:
  name: Validate environment variables
  entry: python scripts/security/validate_env.py
  language: python
  pass_filenames: false
  require_serial: true

npm-audit:
  name: Check for vulnerable npm packages
  entry: bash -c 'if [ -f apps/dashboard/package.json ]; then cd apps/dashboard && npm audit --audit-level=moderate; fi'
  language: system
  pass_filenames: false
  require_serial: true

pip-audit:
  name: Check Python dependencies for vulnerabilities
  entry: bash -c 'pip-audit --desc --fix --require-hashes || true'
  language: system
  pass_filenames: false
  require_serial: true

gdpr-compliance:
  name: Check GDPR compliance in code
  entry: python scripts/security/check_gdpr.py
  language: python
  pass_filenames: true
  require_serial: false

security-headers:
  name: Verify security headers configuration
  entry: python scripts/security/check_headers.py
  language: python
  pass_filenames: true
  require_serial: false

perf(build): increase chunkSizeWarningLimit to 1500KB for Three.js compatibility
  apps/dashboard/vite.config.js
Due: check-pii-exposure, gdpr-compliance, security-headers

perf(deploy): add maxDuration config and optimize Vercel deployment
  .vercelignore
  vercel.json
Due: none

fix(vercel): remove serverless functions config, add SPA routing
  vercel.json
Due: none

chore(vercel): update gitignore and configure dashboard project
  .gitignore
  .vercel/project.json
Due: none

fix(vercel): switch to toolbox-production-final and SFO1 region
  .vercel/project.json
  vercel.json
Due: none

fix(vercel): replace routes with rewrites for SPA routing
  vercel.json
Due: none

fix(vercel): configure deployment for pdx1 region and fix backend URL
  .vercelignore
  VERCEL_DEPLOYMENT_GUIDE.md
  vercel.json
Due: none

feat(deploy): configure production deployment with Supabase and Clerk
  .env.vercel.example
  .vercelignore
  DEPLOYMENT_GUIDE.md
  Dockerfile.backend
  apps/backend/api/v1/endpoints/ai_chat.py
  render.yaml
  vercel.json
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, validate-env-vars, gdpr-compliance

docs(deploy): add comprehensive deployment configuration guides
  ENV_VARIABLES_REFERENCE.md
  RENDER_CONFIGURATION.md
  SERVICES_SETUP_GUIDE.md
Due: none

fix(backend): resolve Render deployment runtime errors
  apps/backend/core/cache.py
  apps/backend/core/supabase_config.py
  requirements.txt
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, pip-audit, gdpr-compliance, security-headers

feat(vercel): configure dashboard frontend for production deployment
  .env.vercel.example
  VERCEL_SETUP_GUIDE.md
  vercel-env-config.sh
  vercel-env-variables.json
  vercel.json
Due: validate-env-vars

fix(vercel): remove invalid functions.runtime configuration
  vercel.json
Due: none

refactor(vercel): remove legacy build.env configuration
  vercel.json
Due: none

fix(dashboard): use @config alias for consistent module resolution
  apps/dashboard/src/contexts/ClerkAuthContext.tsx
Due: check-pii-exposure

fix(dashboard): use @config alias in AuthContext
  apps/dashboard/src/contexts/AuthContext.tsx
Due: check-pii-exposure

fix(dashboard): use @/ alias instead of @config for better resolution
  apps/dashboard/src/contexts/AuthContext.tsx
  apps/dashboard/src/contexts/ClerkAuthContext.tsx
Due: check-pii-exposure

fix(dashboard): add explicit .ts extension to config imports
  apps/dashboard/src/contexts/AuthContext.tsx
  apps/dashboard/src/contexts/ClerkAuthContext.tsx
Due: check-pii-exposure

fix(dashboard): use relative paths with .ts extension for config imports
  apps/dashboard/src/contexts/AuthContext.tsx
  apps/dashboard/src/contexts/ClerkAuthContext.tsx
Due: check-pii-exposure

fix(vercel): allow apps/dashboard/src/config to be deployed
  .vercelignore
Due: none

fix(vercel): update project name to toolbox-production-final
  .vercel/project.json
Due: none

fix(vercel): switch region from pdx1 to iad1 to match build location
  vercel.json
Due: none

fix(vercel): remove regions config to allow auto-selection
  vercel.json
Due: none

feat(deploy): add Render dashboard deployment configuration
  .vercel/project.json
  apps/dashboard/public/_redirects
  render.yaml
  vercel.json
Due: none

fix(render): add proper MIME type headers and static site config
  apps/dashboard/public/_redirects
  apps/dashboard/render.toml
  render.yaml
Due: none

fix(render): add Express server for proper MIME type handling
  apps/dashboard/package.json
  apps/dashboard/server.js
  render.yaml
Due: check-pii-exposure, npm-audit, gdpr-compliance

fix: Update package-lock.json with Sentry dependencies
  FINAL_IMPLEMENTATION_SUMMARY.md
  VERCEL_DEPLOYMENT_SUCCESS.md
  apps/dashboard/package-lock.json
Due: none

fix: resolve Docker deployment errors (Pydantic, imports, Dockerfile)
  apps/backend/api/v1/endpoints/api_keys.py
  apps/backend/api/v1/endpoints/database_swarm.py
  apps/backend/api/v1/endpoints/mobile.py
  docker_log1102
  infrastructure/docker/dockerfiles/agents.Dockerfile
  requirements.txt
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, pip-audit, gdpr-compliance

feat: Add deployment commands to Makefile for Vercel, Render, and Sentry
  Makefile
Due: none

fix: correct Pydantic version pin for LangChain compatibility
  .teamcity/deployment.kts
  DEPLOYMENT_GUIDE.md
  DOCKER_VERCEL_RENDER_IMPLEMENTATION.md
  QUICK_DEPLOY_REFERENCE.md
  apps/backend/config/sentry.py
  apps/dashboard/src/config/api.ts
  apps/dashboard/src/config/sentry.ts
  apps/dashboard/vercel.json
  infrastructure/docker/config/nginx/dashboard.conf
  requirements.txt
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, pip-audit, gdpr-compliance, security-headers

fix: Remove routes from vercel.json (conflicts with rewrites)
  apps/dashboard/vercel.json
Due: none

fix: Resolve browser console errors for Vercel deployment
  apps/dashboard/index.html
  apps/dashboard/vite.config.js
  package-lock.json
  package.json
Due: check-pii-exposure, gdpr-compliance, security-headers

docs: Update fix guide with vite command not found solution
  VERCEL_ROOT_DIRECTORY_FIX.md
Due: none

docs: Add deployment status tracking
  DEPLOYMENT_STATUS_NOV_2_2025.md
Due: none

fix: Resolve Vercel deployment build errors and optimize configuration
  DASHBOARD_READY_TO_COMMIT.md
  MANUAL_VERCEL_DEPLOYMENT.md
  apps/dashboard/vite.config.js
  check-dashboard-health.sh
  deploy-to-vercel.sh
  package-lock.json
  package.json
Due: check-pii-exposure, gdpr-compliance, security-headers

fix: Add React deduplication and optimizeDeps to prevent useEffect bundling error
  apps/dashboard/vite.config.js
Due: check-pii-exposure, gdpr-compliance, security-headers

fix: Add rollupOptions with manual chunks to properly bundle React
  apps/dashboard/vite.config.js
Due: check-pii-exposure, gdpr-compliance, security-headers

feat: Enable authentication and Pusher real-time features
  apps/dashboard/src/components/errors/BackendUnavailableScreen.tsx
  apps/dashboard/src/contexts/AuthContext.tsx
  apps/dashboard/src/utils/backendHealth.ts
  apps/dashboard/vercel.json
  apps/dashboard/vite.config.js
Due: check-pii-exposure, gdpr-compliance, security-headers

Path conditions:
  check-secrets-python: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-sql-injection: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-insecure-random: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-pii-exposure: any of: \.(py|js|ts|jsx|tsx)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  validate-env-vars: any of: \.env.*, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  npm-audit: any of: apps/dashboard/package\.json$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  pip-audit: any of: requirements.*\.txt$|Pipfile$|pyproject\.toml$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  gdpr-compliance: any of: \.(py|js|ts)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  security-headers: any of: (middleware|config).*\.(py|js|ts)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

