Repository GrayGhostDev/ToolboxAI-Solutions: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, validate-env-vars, npm-audit, pip-audit, gdpr-compliance, security-headers

check-secrets-python:
  name: Check for hardcoded secrets in Python
  entry: python scripts/security/check_secrets.py
  language: python
  pass_filenames: true
  require_serial: false
  additional_dependencies:
  - pyyaml>=6.0

check-sql-injection:
  name: Check for SQL injection vulnerabilities
  entry: python scripts/security/check_sql_injection.py
  language: python
  pass_filenames: true
  require_serial: false

check-insecure-random:
  name: Check for insecure random number generation
  entry: python scripts/security/check_insecure_random.py
  language: python
  pass_filenames: true
  require_serial: false

check-pii-exposure:
  name: Check for PII data exposure
  entry: python scripts/security/check_pii.py
  language: python
  pass_filenames: true
  require_serial: false

validate-env-vars:
  name: Validate environment variables
  entry: python scripts/security/validate_env.py
  language: python
  pass_filenames: false
  require_serial: true

npm-audit:
  name: Check for vulnerable npm packages
  entry: bash -c 'if [ -f apps/dashboard/package.json ]; then cd apps/dashboard && npm audit --audit-level=moderate; fi'
  language: system
  pass_filenames: false
  require_serial: true

pip-audit:
  name: Check Python dependencies for vulnerabilities
  entry: bash -c 'pip-audit --desc --fix --require-hashes || true'
  language: system
  pass_filenames: false
  require_serial: true

gdpr-compliance:
  name: Check GDPR compliance in code
  entry: python scripts/security/check_gdpr.py
  language: python
  pass_filenames: true
  require_serial: false

security-headers:
  name: Verify security headers configuration
  entry: python scripts/security/check_headers.py
  language: python
  pass_filenames: true
  require_serial: false

fix(vercel): use npx for vite build to avoid PATH issues
  apps/dashboard/package.json
  vercel.json
Due: npm-audit

fix(vercel): add rollup Linux binary as optional dependency
  apps/dashboard/package.json
  package-lock.json
Due: npm-audit

fix(build): add explicit .tsx extension to FloatingCharactersV2 import for Vercel
  apps/dashboard/src/App.tsx
Due: check-pii-exposure

fix(build): add default export to FloatingCharactersV2 for proper lazy loading
  apps/dashboard/src/App.tsx
  apps/dashboard/src/components/roblox/FloatingCharactersV2.tsx
Due: check-pii-exposure

fix(typescript): remove deprecated baseUrl option from tsconfig
  apps/dashboard/tsconfig.json
Due: none

fix(typescript): resolve Lessons.tsx TypeScript errors
  apps/dashboard/src/components/pages/Lessons.tsx
Due: check-pii-exposure

fix(typescript): resolve all remaining Lessons.tsx type errors
  apps/dashboard/src/components/pages/Lessons.tsx
Due: check-pii-exposure

fix(ui): remove invalid React imports from FloatingCharactersV2
  apps/dashboard/src/components/roblox/FloatingCharactersV2.tsx
Due: check-pii-exposure

feat(lessons): implement lesson duplication functionality
  apps/dashboard/src/components/pages/Lessons.tsx
  apps/dashboard/src/services/api.ts
Due: check-pii-exposure, gdpr-compliance

fix(ui): correct sidebar width to properly display content
  apps/dashboard/src/components/layout/AppLayout.tsx
  apps/dashboard/src/components/layout/Sidebar.tsx
Due: check-pii-exposure

fix(ui): reduce sidebar width to 220px for better content display
  apps/dashboard/src/components/layout/AppLayout.tsx
  apps/dashboard/src/components/layout/Sidebar.tsx
Due: check-pii-exposure

feat(ui): enhance Roblox Studio integration with modern tabbed interface
  apps/dashboard/src/components/roblox/RobloxStudioIntegration.tsx
Due: check-pii-exposure

feat(docs): enhance Roblox Studio integration documentation
  apps/dashboard/src/components/roblox/RobloxStudioIntegration.tsx
Due: check-pii-exposure

fix(dashboard): create missing RobloxAIChat component for Studio integration
  apps/dashboard/src/components/roblox/RobloxAIChat.tsx
Due: check-pii-exposure

feat(dashboard): enhance Roblox Studio Manage tab with search, filter, and sort
  apps/dashboard/src/components/roblox/RobloxStudioIntegration.tsx
Due: check-pii-exposure

fix(dashboard): correct template literal syntax in RobloxAIChat
  apps/dashboard/src/components/roblox/RobloxAIChat.tsx
  apps/dashboard/src/components/roblox/RobloxStudioIntegration.tsx
Due: check-pii-exposure

fix(roblox): resolve API interceptor null safety and invalid Tabs props
  apps/dashboard/src/components/admin/EnhancedAnalytics.tsx
  apps/dashboard/src/components/pages/TeacherRobloxDashboard.tsx
  apps/dashboard/src/services/api.ts
Due: check-pii-exposure, gdpr-compliance

fix(roblox): resolve duplicate React keys in RobloxAIAssistant
  apps/dashboard/src/components/roblox/RobloxAIAssistant.tsx
Due: check-pii-exposure

fix(auth): add optional authentication for AI chat endpoints in development
  apps/backend/api/v1/endpoints/ai_chat.py
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance

perf(roblox): optimize TeacherRobloxDashboard with lazy loading
  apps/dashboard/src/components/pages/TeacherRobloxDashboard.tsx
Due: check-pii-exposure

fix(admin): update AgentDashboard to Mantine v8 and modern Pusher hooks
  apps/dashboard/src/pages/AgentDashboard.tsx
Due: check-pii-exposure

fix(ui): update components AgentDashboard to Mantine v8 API
  apps/dashboard/src/components/agents/AgentDashboard.tsx
Due: check-pii-exposure

fix(ui): complete Mantine v8 migration for all agent components
  apps/dashboard/src/components/agents/AgentCard.tsx
  apps/dashboard/src/components/agents/AgentMetricsPanel.tsx
  apps/dashboard/src/components/agents/AgentTaskDialog.tsx
Due: check-pii-exposure

fix(build): add explicit .tsx extension to FloatingCharactersV2 import
  apps/dashboard/src/App.tsx
Due: check-pii-exposure

fix(build): temporarily disable FloatingCharactersV2 for Vercel deployment
  apps/dashboard/src/App.tsx
Due: check-pii-exposure

fix(build): temporarily disable EnvironmentCreator and EnvironmentPreviewPage for Vercel
  apps/dashboard/src/routes.tsx
Due: check-pii-exposure

fix(build): temporarily disable ParticleEffects for Vercel
  apps/dashboard/src/components/layout/AppLayout.tsx
Due: check-pii-exposure

docs: add Vercel deployment progress tracking document
  VERCEL_DEPLOYMENT_PROGRESS.md
Due: none

feat: add Vercel deployment configuration
  .vercelignore
  vercel.json
Due: none

chore: update package-lock.json and remove unused asset
  apps/dashboard/public/assets/design/items/hp.png
  package-lock.json
Due: none

fix: correct alembic script_location path
  database/alembic.ini
Due: none

docs: add comprehensive Vercel deployment guide
  VERCEL_DEPLOYMENT.md
Due: none

fix(build): replace all Roblox component imports with Mantine equivalents for Vercel
  apps/dashboard/src/components/common/LoadingOverlay.tsx
  apps/dashboard/src/components/pages/DashboardHome.tsx
  apps/dashboard/src/components/pages/DashboardHomeRTK.tsx
  apps/dashboard/src/components/pages/PlaygroundShowcase.tsx
  apps/dashboard/src/components/pages/RobloxStudioPage.tsx
  apps/dashboard/src/components/pages/RobloxThemedDashboard.tsx
  apps/dashboard/src/pages/ExampleDashboardLayouts.tsx
Due: check-pii-exposure

fix(build): completely remove RobloxStudioIntegration import to resolve Vercel build
  apps/dashboard/src/components/pages/RobloxStudioPage.tsx
Due: check-pii-exposure

fix(build): resolve Vercel barrel export issues with explicit index.ts imports
  apps/dashboard/src/components/pages/TeacherRobloxDashboard.tsx
  apps/dashboard/src/components/roblox/Roblox3DButton.tsx
  apps/dashboard/src/components/roblox/RobloxConversationFlow.tsx
  apps/dashboard/src/components/roblox/index.ts
  apps/dashboard/src/pages/RobloxComponentShowcase.tsx
Due: check-pii-exposure, gdpr-compliance

fix(vercel): use direct imports instead of barrel exports for Vercel compatibility
  apps/dashboard/src/components/pages/TeacherRobloxDashboard.tsx
  apps/dashboard/src/pages/RobloxComponentShowcase.tsx
Due: check-pii-exposure

fix(vercel): add explicit .tsx extensions to all Roblox component imports
  apps/dashboard/src/components/pages/TeacherRobloxDashboard.tsx
  apps/dashboard/src/pages/RobloxComponentShowcase.tsx
Due: check-pii-exposure

fix(vercel): add explicit .tsx extensions to Roblox component imports for Vercel compatibility
  apps/dashboard/src/components/pages/TeacherRobloxDashboard.tsx
  apps/dashboard/src/pages/RobloxComponentShowcase.tsx
Due: check-pii-exposure

fix(vercel): only exclude root roblox/ directory, not dashboard components
  .vercelignore
Due: none

Path conditions:
  check-secrets-python: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-sql-injection: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-insecure-random: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-pii-exposure: any of: \.(py|js|ts|jsx|tsx)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  validate-env-vars: any of: \.env.*, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  npm-audit: any of: apps/dashboard/package\.json$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  pip-audit: any of: requirements.*\.txt$|Pipfile$|pyproject\.toml$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  gdpr-compliance: any of: \.(py|js|ts)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  security-headers: any of: (middleware|config).*\.(py|js|ts)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

