Repository GrayGhostDev/ToolboxAI-Solutions: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, validate-env-vars, npm-audit, pip-audit, gdpr-compliance, security-headers

Path conditions:
  check-secrets-python: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-sql-injection: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-insecure-random: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-pii-exposure: any of: \.(py|js|ts|jsx|tsx)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  validate-env-vars: any of: \.env.*, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  npm-audit: any of: apps/dashboard/package\.json$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  pip-audit: any of: requirements.*\.txt$|Pipfile$|pyproject\.toml$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  gdpr-compliance: any of: \.(py|js|ts)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  security-headers: any of: (middleware|config).*\.(py|js|ts)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/


security: Fix 13 vulnerabilities (2 critical, 4 high, 5 medium, 2 low)
  SECURITY.md
  docs/SECURITY_AUDIT_2025-11-08.md
  requirements.txt
Due: pip-audit

security: Update python-jose in all requirements files
  requirements-essential.txt
  requirements-missing.txt
Due: pip-audit

docs: Add complete repository health report
  docs/REPOSITORY_HEALTH_COMPLETE.md
Due: none

fix(deps): upgrade yarl to 1.17.1 for aiohttp 3.12.14 compatibility
  requirements.txt
Due: pip-audit

ci: Trigger workflows to test deployment secrets
  .github/WORKFLOW_TRIGGER.md
Due: none

docs: Add deployment monitoring tools and documentation
  docs/DEPLOYMENT_SECRETS_CONFIGURED.md
  scripts/monitor-workflows.sh
Due: none

fix(vercel): remove invalid functions configuration for static site
  vercel.json
Due: none

fix: Resolve dependency conflicts causing workflow failures
  package.json
  requirements.txt
Due: pip-audit

docs: Complete error fixes and PR cleanup documentation
  docs/ERROR_FIXES_AND_PR_CLEANUP.md
Due: none

fix(vercel): add optional dependencies and bypass package-lock for clean builds
  apps/dashboard/vercel.json
  vercel.json
Due: none

docs: Complete repository issues resolution
  docs/REPOSITORY_ISSUES_RESOLVED.md
Due: none

fix(deps): resolve OpenTelemetry version conflicts and remove deprecated exporter
  requirements.txt
Due: pip-audit

fix(vercel): add missing auth components excluded by gitignore pattern
  apps/dashboard/src/components/auth/RoleBasedRouter.tsx
  apps/dashboard/src/utils/auth-utils.ts
Due: check-pii-exposure, gdpr-compliance

security: Upgrade FastAPI and Starlette to patch vulnerabilities
  requirements.txt
Due: pip-audit

docs: Complete security resolution documentation
  docs/SECURITY_ALL_RESOLVED.md
Due: none

fix(deps): downgrade importlib_metadata to 6.11.0 for opentelemetry-api 1.21.0 compatibility
  requirements.txt
Due: pip-audit

security: Fix remaining Dependabot alerts
  .github/workflows/validate-docs.yml
  infrastructure/kubernetes/security/admission-webhook/requirements.txt
Due: pip-audit

fix(render): update CORS origins to reference Vercel dashboard URL
  infrastructure/render/render.production.yaml
Due: none

security: Update requests to 2.32.4 (CVE fix)
  infrastructure/kubernetes/security/admission-webhook/requirements.txt
Due: pip-audit

docs: Final comprehensive security report
  docs/SECURITY_FINAL_REPORT.md
Due: none

fix: Resolve code scanning alerts
  apps/backend/middleware/role_based_access.py
  apps/dashboard/src/components/auth/RoleBasedRouter.tsx
  docs/08-operations/ci-cd/TEAMCITY_FIRST_TIME_SETUP.md
  infrastructure/docker/compose/docker-compose.teamcity.yml
  services/cache_service.py
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance, security-headers

docs: Code scanning fixes documentation
  docs/CODE_SCANNING_FIXES.md
Due: none

fix: Security pipeline workflow fixes
  .github/workflows/security-pipeline.yml
  scripts/security/generate_security_report.py
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance

docs: Security pipeline workflow fix documentation
  docs/WORKFLOW_FIX_SECURITY_PIPELINE.md
Due: none

fix(deps): downgrade opentelemetry-semantic-conventions to match SDK version
  requirements.txt
Due: pip-audit

fix(deps): downgrade cryptography to satisfy pyOpenSSL requirement
  requirements.txt
Due: pip-audit

feat(deps): upgrade cryptography and pyOpenSSL to latest versions
  requirements.txt
Due: pip-audit

fix: Docker workflow matrix JSON format
  .github/workflows/docker-build-push.yml
Due: none

fix(deps): upgrade python-jose to support pyasn1 0.6.x
  requirements.txt
Due: pip-audit

fix: Remove invalid secrets reference in workflow if condition
  .github/workflows/security-pipeline.yml
Due: none

fix: Make security pipeline more resilient
  .github/workflows/security-pipeline.yml
Due: none

refactor(deps): comprehensive requirements cleanup and separation
  .github/code-scanning-rules-used.csv
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: pip-audit

docs: Comprehensive code scanning rules analysis
  docs/CODE_SCANNING_ANALYSIS.md
Due: none

docs: Clarify CSV files are reports, not config
  .github/code-scan002.csv
  docs/CODE_SCAN_CSV_CLARIFICATION.md
Due: none

fix: Resolve CodeQL code scanning issues
  apps/backend/api/auth/auth_secure.py
  apps/backend/api/v1/endpoints/user_preferences.py
  apps/backend/core/compliance/gdpr_manager.py
  apps/backend/core/config.py
  apps/backend/core/security/user_manager.py
  apps/backend/services/email_queue.py
  apps/backend/services/roblox.py
  apps/backend/services/websocket.py
  core/agents/roblox/roblox_script_optimization_agent.py
  core/agents/roblox/roblox_security_validation_agent.py
  infrastructure/docker/compose/docker-compose.teamcity.yml.backup-20251108-184634
  requirements.txt
  scripts/security/generate_security_report.py
  tests/conftest.py
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, pip-audit, gdpr-compliance, security-headers

fix(deps): remove explicit langgraph-checkpoint to resolve version conflict
  requirements.txt
Due: pip-audit

fix(dashboard): add refractor dependency for react-syntax-highlighter
  apps/dashboard/package.json
Due: npm-audit

fix: resolve Vercel refractor and Render OpenTelemetry conflicts
  apps/dashboard/package.json
  requirements.txt
Due: npm-audit, pip-audit

fix: Pin fossas/fossa-action to v1.7.0
  .github/workflows/security-pipeline.yml
Due: none
