Repository GrayGhostDev/ToolboxAI-Solutions: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, validate-env-vars, npm-audit, pip-audit, gdpr-compliance, security-headers

Path conditions:
  check-secrets-python: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-sql-injection: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-insecure-random: any of: \.py$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  check-pii-exposure: any of: \.(py|js|ts|jsx|tsx)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  validate-env-vars: any of: \.env.*, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  npm-audit: any of: apps/dashboard/package\.json$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  pip-audit: any of: requirements.*\.txt$|Pipfile$|pyproject\.toml$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  gdpr-compliance: any of: \.(py|js|ts)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/

  security-headers: any of: (middleware|config).*\.(py|js|ts)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info)|
  \.git|
  \.mypy_cache|
  \.pytest_cache|
  \.tox|
  \.venv|
  _build|
  build|
  dist|
  node_modules|
  venv|
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)
)/


fix: resolve deployment issues for Vercel and Render platforms
  apps/dashboard/package.json
  requirements.txt
Due: npm-audit, pip-audit

feat: Add GitHub Pages and enhanced Dependabot configuration
  .github/dependabot.yml
  .github/workflows/pages-deploy.yml
  docs/.github-pages-README.md
  docs/Gemfile
Due: none

fix: align all OpenTelemetry instrumentation packages to 0.42b0
  requirements.txt
Due: pip-audit

docs: Add GitHub Pages and Dependabot implementation report
  docs/11-reports/GITHUB_PAGES_DEPENDABOT_IMPLEMENTATION.md
Due: none

docs: Add comprehensive GitHub-TeamCity integration guide
  docs/11-reports/GITHUB_TEAMCITY_INTEGRATION.md
  docs/11-reports/WORKFLOW_QUICK_REFERENCE.md
Due: none

fix: resolve Vite refractor aliases and uvicorn command options
  apps/dashboard/vite.config.js
  infrastructure/render/render.production.yaml
Due: check-pii-exposure, gdpr-compliance, security-headers

fix: update dashboard to use correct Render backend URL
  apps/dashboard/vercel.json
  infrastructure/render/render.production.yaml
Due: none

fix: synchronize package-lock.json with package.json
  package-lock.json
Due: none

fix(security): update lychee-action to v2.7.0
  .github/workflows/pages-deploy.yml
Due: none

feat(ci): add Dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: none

fix: resolve React useLayoutEffect and manifest 401 browser errors
  apps/dashboard/package.json
  apps/dashboard/vercel.json
  apps/dashboard/vite.config.js
  package-lock.json
Due: check-pii-exposure, npm-audit, gdpr-compliance, security-headers

fix(vercel): update deployment configuration for package-lock compatibility
  apps/dashboard/vercel.json
  vercel.json
Due: none

fix: implement proper CORS preflight handling and Vercel system env vars
  apps/backend/core/middleware.py
  apps/dashboard/vercel.json
Due: check-secrets-python, check-sql-injection, check-insecure-random, check-pii-exposure, gdpr-compliance, security-headers

fix: remove incorrect Vercel system env var syntax
  apps/dashboard/vercel.json
Due: none

Define Issue Resolution Agent responsibilities and guidelines
  .github/agents/my-agent.agent.md
Due: none

fix(deps): synchronize package-lock.json to resolve Vercel npm ci failures
  package-lock.json
Due: none

Define Issue Resolution Agent responsibilities and guidelines (#122)
  .github/agents/my-agent.agent.md
Due: none

fix(backend): remove invalid Gunicorn options from uvicorn command
  infrastructure/render/render.production.yaml
Due: none

fix(vercel): add workspace flag to installCommand with legacy-peer-deps
  apps/dashboard/vercel.json
Due: none

feat(ci): add CI/CD health monitoring workflow
  .github/workflows/ci-health-check.yml
Due: none

fix(deps): upgrade i18next to match react-i18next@16.2.4 peer dependency
  apps/dashboard/package.json
  package-lock.json
Due: npm-audit

fix(deps): sync esbuild version with package-lock.json to resolve npm ci failure
  apps/dashboard/package.json
Due: npm-audit

feat(labels): implement comprehensive GitHub label system
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/LABELS.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labels.json
Due: none

fix(vercel): use root-level npm ci to fix rollup optional dependencies
  apps/dashboard/vercel.json
Due: none

fix(vercel): use npm install instead of npm ci to resolve optional deps
  apps/dashboard/vercel.json
Due: none

fix(vercel): force install optional dependencies before build
  apps/dashboard/package.json
  apps/dashboard/vercel.json
Due: npm-audit

fix(vercel): install optional deps from root before building
  apps/dashboard/vercel.json
Due: none

fix(vercel): explicitly install rollup Linux binary before build
  apps/dashboard/vercel.json
Due: none

docs(github): create comprehensive optimization plan
  docs/github-optimization/ANALYSIS.md
  docs/github-optimization/IMPLEMENTATION_PLAN.md
Due: none

feat(workflows): Phase 1 - Create consolidated workflows
  .github/workflows/ci-cd-main.yml
  .github/workflows/docker-pipeline.yml
  .github/workflows/e2e-testing.yml
  .github/workflows/testing-suite.yml
Due: none

feat(workflows): Phase 2 - Enhanced deployment integrations
  .github/workflows/deploy-database.yml
  .github/workflows/deploy-render.yml
  .github/workflows/deploy-vercel.yml
Due: none

refactor(workflows): migrate from npm to pnpm
  .github/workflows/ci-cd-main.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/e2e-testing.yml
  .github/workflows/testing-suite.yml
Due: none

refactor(deps): migrate from npm to pnpm v9.15.0
  .github/workflows/ci-cd-main.yml
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/ci.yml
  .github/workflows/comprehensive-testing.yml
  .github/workflows/continuous-testing.yml
  .github/workflows/dashboard-build.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-ci-cd.yml
  .github/workflows/documentation-health.yml
  .github/workflows/documentation-updater.yml
  .github/workflows/e2e-testing.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/enhanced-ci-cd.yml
  .github/workflows/integrated_pipeline.yml
  .github/workflows/pages-deploy.yml
  .github/workflows/playwright.yml
  .github/workflows/render-deploy.yml
  .github/workflows/security-agents.yml
  .github/workflows/security-pipeline.yml
  .github/workflows/test-automation-fix.yml
  .github/workflows/test-automation.yml
  .github/workflows/testing-suite.yml
  .github/workflows/testing.yml
  .github/workflows/validate-docs.yml
  .npmrc
  Makefile
  apps/dashboard/Dockerfile
  apps/dashboard/package.json
  apps/dashboard/vercel.json
  docs/pnpm-migration-2025-11-09.md
  infrastructure/docker/Dockerfile.dashboard
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/deployment/deploy_pipeline.sh
  vercel.json
Due: npm-audit

fix(docker): update dashboard Dockerfiles for pnpm
  infrastructure/docker/dockerfiles/dashboard-2025.Dockerfile
  infrastructure/docker/dockerfiles/dashboard-fixed.Dockerfile
Due: none

docs(pnpm): add verification checklist and next steps guide
  NEXT_STEPS_RECOMMENDATIONS.md
  PNPM_MIGRATION_VERIFICATION.md
Due: none

fix(vercel): correct pnpm workspace filter syntax
  vercel.json
Due: none

fix(pnpm): enable shamefully-hoist for Vite compatibility
  .npmrc
Due: none

fix(docs): implement real documentation updater system
  .coderabbit.yml
  CODERABBIT_SETUP.md
  DEPLOYMENT_STATUS.md
  PNPM_MIGRATION_STATUS.md
  PNPM_MIGRATION_STATUS_REPORT.md
  README.md
  TEAMCITY_STATUS_REPORT.md
  __tests__/workflows/PNPM_TESTS_README.md
  __tests__/workflows/QUICK_START.md
  __tests__/workflows/README.md
  __tests__/workflows/TEST_SUMMARY.md
  __tests__/workflows/pnpm-workflows.test.ts
  docs/pnpm-migration-executive-summary.md
  docs/pnpm-migration-implementation-plan.md
  infrastructure/docker/compose/config/database.properties
  infrastructure/docker/compose/jdbc-drivers/postgresql-42.7.4.jar
Due: check-pii-exposure, gdpr-compliance

docs: add comprehensive documentation updater system fix summary
  DOCUMENTATION_UPDATER_FIX_SUMMARY.md
Due: none
